body {
    padding-top: 64px;
    /*fixed navbar will overlay your other content, hence need to add padding to body*/

    font-family: 'Lato', sans-serif;
    position: relative;
}
h1,
h2 {
    font-family: 'Lobster', cursive;
}
.logo {
    text-shadow: 1px 1px 2px black;
    margin-left: 20px;
}
.logo:hover {
    transform: scale(1.1);
    font-size: 0;
}
.logo:hover:after {
    content: attr(data-hover);
    font-size: 30px;
}
.jumbotron {
    height: 105vh;
    padding-top: 0;
}
.work {
    color: #f4fafb;
    margin-bottom: 6%;
}
.work h3 {
    background-color: #4dd0e1;
    padding: 1rem;
    margin: 0;
}
.work a {
    color: #ffcdd2;
}
.fill-gradient {
    padding: 2%;
    background-color: #00acc1;
    background-image: linear-gradient( #b2ebf2, #00bcd4);
    margin-bottom: 1%;
}
.skills span {
    color: #00acc1;
    background-color: #b2ebf2;
    border-radius: 4px;
    padding: 5px;
    line-height: 30px;
    margin: 2px;
}
footer {
    height: 150px;
    border-top: 1px solid #a0a0a0;
    background: -webkit-repeating-linear-gradient(35deg, #cbf5f9, #cbf5f9 4px, #b2ebf2 6px, #b2ebf2 6px);
    background: repeating-linear-gradient(35deg, #cbf5f9, #cbf5f9 4px, #b2ebf2 6px, #b2ebf2 6px);
    padding: 8rem 0;
}
footer a {
    color: #B92255;
}